.add-todo {
    display: flex;
    gap: 1.2rem;
    padding: 1.2rem;
    border-radius: var(--Border-Radius);
    background-color: var(--Background);
    font-size: inherit;
    overflow: auto;
}
.add-todo > input {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    border: none;
    background-color: inherit;
    color: var(--BoldText);
    caret-color: var(--Accent);
}
.add-todo > input:focus-visible {
    outline: none;
    border: none;
}