.check {
    width: 1.2rem;
    height: 1.2rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 1px solid var(--MutedText);
}
.check:hover {
    transition: .3s;
    border-color: transparent;
    background-image: 
        linear-gradient(var(--Background), var(--Background)),
        var(--CheckBorder);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    cursor: pointer;
}
.check img {
    display: none;
}
.check.complete {
    background-image: var(--CheckBackground);
}
.check.complete img {
    display: block;
}